@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(../fonts/font-4.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: fallback;
  src: url(../fonts/font-5.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: fallback;
  src: url(../fonts/font-6.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(../fonts/font-7.ttf) format('truetype');
}
