<!DOCTYPE html>
<html lang="{{ html_lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/components.css">
  <link rel="stylesheet" href="/css/legal.css">
  <link rel="stylesheet" href="/css/site.css">
  {% if extra_head_html %}{{ extra_head_html | safe }}{% endif %}
</head>
<body>
  {% block body %}{% endblock %}
  <script src="/js/cookie.js"></script>
  <script src="/js/navigation.js"></script>
  <script src="/js/interactions.js"></script>
  <script src="/js/site.js"></script>
</body>
</html>
