@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(../fonts/font-4.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(../fonts/font-5.ttf) format('truetype');
}
